// .editorconfig for Flutter Demo project
// Helps maintain consistent code style across different editors

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.dart]
indent_size = 2
indent_style = space

[*.{json,yaml,yml}]
indent_size = 2
indent_style = space

[*.{gradle,properties}]
indent_size = 4
indent_style = space

[*.{xml,gradle}]
indent_size = 4
indent_style = space
